# Slipstream site output
site/**/*.html
site/sitemap.xml
site/css/main.css
site/vehicle-search-index.json
discord_message.txt

.swiftpm/
.DS_Store
.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.meta
node_modules/
workspace/

.env
.cache/
.schemas/
site/gfx/vehicle/
