@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .float-right-md {
    margin-bottom: 1rem;
  }
  @media (min-width: 900px) {
    .float-right-md {
      float: right;
      margin-left: 1.5rem;
      margin-bottom: 1rem;
      max-width: 300px;
    }
  }
  .shortcuts-icon:before {
    border-radius: 4px;
    background-size: 18px;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 1px;
    vertical-align: -3px;
    background-image: url(/gfx/shortcuts.png);
  }
}

@media (max-width: 1500px) and (min-width: 900px) {
  div.toc-hide {
    display: none;
  }
}
