#us-products,
#be-products,
#br-products,
#ca-products,
#de-products,
#in-products,
#uk-products {
  display: none;
}

#us:checked ~ #us-products {
  display: block;
}

#be:checked ~ #be-products {
  display: block;
}

#br:checked ~ #br-products {
  display: block;
}

#canada:checked ~ #ca-products {
  display: block;
}

#india:checked ~ #in-products {
  display: block;
}

#germany:checked ~ #de-products {
  display: block;
}

#uk:checked ~ #uk-products {
  display: block;
}
