#us-products,
#ca-products,
#in-products {
  display: none;
}

#us:checked ~ #us-products {
  display: block;
}

#canada:checked ~ #ca-products {
  display: block;
}

#india:checked ~ #in-products {
  display: block;
}
